{% extends "bstrap3.2.0/base.html" %}
{% load konceptstags %}




{% block extrahead %}

	<style type="text/css" media="screen">
	
	.bar {
	    display: inline-block;
	    width: 20px;
	    height: 10px;   /* We'll override this later */
	    background-color: teal;
		margin-right: 2px;
	}
	
	</style>

{% endblock extrahead %}


{% block pagecontents %}


	<div class="row">
		<div class="col-md-12">
			
			{% for q in source.fragment_set.all  %}
				<li class="-lead">
					<div class="bar" style="width: {{q.text|wordcount}}px;">
					</div>
					{{q.title}}
				{# &nbsp;{{q.text|wordcount}} #}
			</li>
			{% endfor %}
			
		</div>

	</div>



{% endblock  %}




{% block closingbody %}


{% endblock  %}