{% extends "bstrap3.2.0/base.html" %}





{% block belownavigation %}


	{% with importkindle_selectdoc=1 %}
		{% include "bstrap3.2.0/components/navbar_second.html" %}
	{% endwith %}

{% endblock belownavigation %}






{% block pagecontents %}



<div class="row  margin-top-50">


	
	

<div class="col-md-12">
    	
	
		{# DOCUMENTS LIST SELECTION #}
	
		
	
		<div class="page-header">	
			<h2 class=" text-warnings">{{documents_list|length}} Kindle document{{documents_list|pluralize}} available</h2>
			
			
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<p class="-text-muted">Your Kindle normally contains several documents. Please select which one to extract highlights from by clicking on it. 
					<br />
						<b>Note:</b> you can come back to this page later to repeat this process as many times as you like.
					</p>
				</div>
			
				<div class="col-md-2 text-right">
					<a href="{% url importkindle %}" title="Extract new highlights from your Kindle" class="btn btn-success btn">Upload new documents</a>
				</div>
			
			</div>
		</div>	
		
		
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					
		            <table class="table table-striped margin-top-50">
		               <thead>
		                 <tr>
		                   <th>#</th>
		                   <th>Title <span class="text-muted">(most recent first)</span></th>
		                 </tr>
		               </thead>
		               <tbody>

		 	  			{% for each in documents_list  %}			
		 	  	            <tr>
		 	  	              <td><span class="badge">{{forloop.counter}}</span></td>
		 	  	              <td><a class="documentcolor -lead" href="{% url previewDocumentImport %}?d={{each|urlencode}}">{{each}}</a></td>
		 	  	            </tr>
		 	  			{% endfor %}


		               </tbody>
		             </table>
					 
				</div>
		
			
			
			 


	    </div>   {# end of row #}

	</div>	{# end of container #}




</div>   {# end of outer row #}
  

{% endblock pagecontents %}





{% block closingbody %}


	
{% endblock closingbody %}