{% extends "bstrap3.2.0/base.html" %}
{% load konceptstags %}



{% block page_title %}{{q1.title}} - a {{SNIPPET_LABEL}} on LiquidQuotes.com{% endblock %}


{% block extrahead %}

	{# 2015-12-26: the graph stuff #}
	
	
    <link href="{{ STATIC_URL }}libs/visjs/vis.css" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}libs/visjs/vis.js"></script>
	
	<style type="text/css" media="screen">
	.canv {
		border: 1px solid lightgray;
		height: 400px;
		background: white;
	}
	</style>

{% endblock extrahead %}




{% block belownavigation %}


		{% with quote_detail_page=1 %}
            {% include "bstrap3.2.0/components/navbar_second.html" %}
        {% endwith %}




{# 2015-07-02 #}


<div class="container-fluid quote_title_stripe">
		
	
	<div class="row" style="margin: 0px 5px 5px 5px;">  {# this css should stay inline #}
		
	<div class="col-md-9 col-md-offset-1" style="margin-bottom: 10px;">

		{% if q1.source %}		
		<h3>
			<small class="text-lowercase quietlink6" style="line-height: 35px;
">a {{SNIPPET_LABEL|lower}} from:&nbsp;</small>
			<br />
			<span>
				<a {% if mykoncepts %}href="{{q1.source.get_absolute_url}}"{% endif %} class="quietlink4" title="View all {{SNIPPET_LABEL}}s from this {{DOCUMENT_LABEL}}"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;{{q1.source.title|truncatewords:12}}
				</a>
			</span>
			
	   		 {% if  0 and q1.source.url %}
	   		 <br />
			 {# &nbsp;&nbsp;&nbsp; #}
			 <small  style="line-height: 46px;">
				 <a href="{{q1.source.url}}" class="sourceLinkUrl bluelink" title="View original" target="_blank" style="font-size: 100%;">
					 <span class="glyphicon glyphicon-globe"></span>
					 {{q1.source.get_url_domain}}
				 </a>
			 </small>
	   		 {% endif %}
			 {# <br /> #}
			 {# <small style="font-size: 11px;">4 quotes from this source</small> #}
		</h3>
		
		{% else %}
		{# default when no source is available #}
				<h3>
					<small class="text-lowercase" style="line-height: 35px;
		">a {{SNIPPET_LABEL|lower}} from:&nbsp;</small>
					<br />
					<span>
						<a href="#" class="quietlink4"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Unknown {{DOCUMENT_LABEL}}
						</a>
					</span>
				</h3>	
						
		{% endif %}
	
		
		
	</div>
	

	<div class="col-md-2 text-right" style="margin-top: -6px; margin-bottom: 0px;">
		
		<h4 class="badge" style="padding: 7px; font-size: 11px;">
			<a {% if mykoncepts %}href="{{ q1.source.get_absolute_url }}#quotes"{% endif %} class="quietlink8">
			<span style="font-size: 26px;">{{q1.source.fragment_set.all|length}}</span> <br />{{SNIPPET_LABEL}}{{ q1.source.fragment_set.all|pluralize}}			
			</a>
			<br /><span style="font-size: 9px;">in total</span>

		</h4>
		
		
	</div>

	
	</div>  {# end of row #}
	
</div>  {# end of container-fluid #}







{# 2015-11-08 : new container test #}

<div class="container-fluid quote_title_stripe2">
		
	
	<div class="row" style="margin: -20px 5px 10px 5px;">  {# this css should stay inline #}
		
	<div class="col-md-8 col-md-offset-1" style="margin-bottom: 20px;">
		<a name="title">&nbsp;</a>
		
		
		{# title :: 2015-11-19 #}
		<h3 style="margin-top: 5px;">
		<small class="text-uppercase quietlink6" style="font-size: 11px; text-transform: uppercase;">{{SNIPPET_LABEL}} Title:&nbsp;</small>
		{# {% if mykoncepts %}Your{% else %}{% endif %} #}
		</h3>
		{# <br /> #}
		<span class="quote_title_bigsize" id="{{q1.id}}_title" >{{q1.title}}</span>
		{% if mykoncepts %}   			
		<a id="{{q1.id}}_title_href" href="javascript:editQuoteTitle('{{q1.id}}', '{{q1.title|escapejs}}')" title="Change the title" style="text-decoration: none;">
			&nbsp;<i class="glyphicon glyphicon-edit quietlink5"></i>
		</a>
		{% endif %}
		<br>
		
		
		
 		{# tags :: 2015-11-19 :: 2016-01-08: deprecated in favor of bottom tags #}
		{% if 0 and mykoncepts %}
 		<h3 style="margin-top: 10px; margin-bottom: 0px;">
 		<small class="text-uppercase quietlink6" style="font-size: 11px; text-transform: uppercase;">{{SUBJECT_LABEL|lower}}s:&nbsp;</small>
 		</h3>
 		<div style="margin-top: -4px;" id="tags_{{q1.id}}">	
		
 	  	  {% with quote_detail_page=1 %}	
 	  	  {% with q1 as snippet %}
 	  	  		{% include "bstrap3.2.0/components/tags_snippet.html" %}
 	  	  {% endwith %}
 	  	  {% endwith %}
		  			

 	   </div>
	   {% endif %}
		
		
		
		
		{# saved by :: 2015-12-26 #}
		{% if 1  %}
		<h3 style="margin-top: 10px; margin-bottom: 0px;">
		<small class="text-uppercase quietlink6" style="font-size: 11px; text-transform: uppercase;">Created by:&nbsp;</small>
		</h3>

		{% with quote_detail_page_top=1 %}
			{% with q1 as object %}
    		{% include "bstrap3.2.0/components/user_badge.html" %} 
			{% endwith %}
		{% endwith %}
				
			
		</h3>
		 {% endif %}
		
		
		
		

		
	</div>
	
	<div class="col-md-3 -col-md-offset-1" style="margin-bottom: 10px; margin-top: 50px;">
		
    	 {% if nextQuoteSource %}

  		<div class="text-right " >

			{% if 0 %}
			{# 2015-12-27: test to add a graph icon #}
			<div class="" style="float:left;">
				
				<small class="text-uppercase" style="font-size: 11px; text-transform: uppercase;">Graph</small>
				<br />

	  			<a href="{{nextQuoteSource.get_absolute_url}}#quotes" class="quietlink6 next_quote_link" {# title="{{nextQuoteSource.title|capfirst}}" #}>
	  				<span class="glyphicon glyphicon-picture" style="font-size: 200%;"></span>
	  			</a>

				
			</div>
			{% endif %}			
			<div class="">
				
				<small class="text-uppercase" style="font-size: 11px; text-transform: uppercase;">Next</small>
				<br />

	  			<a href="{{nextQuoteSource.get_absolute_url}}" class="quietlink6 next_quote_link">
	  				<span class="glyphicon glyphicon-chevron-right" style="font-size: 200%;"></span>
	  			</a>
				<div class="next_hover" style="font-size: 16px;">{{nextQuoteSource.title|capfirst|truncatewords:5}} {% if nextQuoteSource.source %}<br /><span class="text-muted" style="font-size: 14px;">{{nextQuoteSource.source.title|truncatewords:5}}</span>{% endif %}
					
				</div>
				
				
			</div>

  		</div>

	
    	  {% endif %} 
		
	</div>
	
	</div>
	
</div>	





	

{% endblock belownavigation %}







{% block pagecontents %}



<div class="row" style="margin-top: 60px;">


	
{# MAIN COLUMN #}
	
<div class="col-md-8 col-md-offset-1 margin-bottom-50" id="konceptpage_snippets" >
		
	 <a name="fragment{{q1.id}}"></a> {# so make internal anchors work #}	
	 
	 
	 <div id="quote_detail_page" class="col-md-" style="min-height: 50px;">


	  {% with quote_detail_page=1 %}	
	  {% with q1 as snippet %}
	  		{% include "bstrap3.2.0/components/snippet_preview.html" %}
	  {% endwith %}
	  {% endwith %}

	  		
		   <br />&nbsp;<br /> {# trick to push down the buttons #}
			

	  </div>


  
</div>   
{# END MAIN COLUMN #}


</div>




<div class="row" style="-margin-top: 60px; margin-bottom: 60px;">
	
	
<div class="col-md-3  col-md-offset-1 margin-top-50" >
	
	{# TAGS #}
	
    {% if mykoncepts %}
		
	   	{% with snippet_detail_actions=1 %}
		{% with ALIGNMENT='right' %}
	   		{% with q1 as snippet %}
	   		{% include "bstrap3.2.0/components/sidebar_tagsinfo.html" %}
	   		{% endwith %}			
	   	{% endwith %}
	   	{% endwith %}
		
     {% endif %}

		
</div>  


<div class="col-md-3  -col-md-offset-1 margin-top-50" >
	
    {% if mykoncepts %}
   	  <p class="col-md-10 ">
  	
   		<h5 class="text-{{ALIGNMENT|default:'right'}}">Edit</h5>
   		<hr>
   	   	{# BUTTONS #}
   	   	{% with snippet_detail_edit=1 %}
		{% with ALIGNMENT='right' %}
   	   		{% with q1 as snippet %}
   	   		{% include "bstrap3.2.0/components/buttons.html" %}
   	   		{% endwith %}			
   	   	{% endwith %}
   	   	{% endwith %}
	
	

   	  </p>	
     {% endif %}

		
</div>  
	
   


<div class="col-md-3  -col-md-offset-2 margin-top-50" >
	
    {% if mykoncepts %}
   	  <p class="col-md-10 -margin-top-50">
  	
   		<h5 class="text-{{ALIGNMENT|default:'right'}}">Actions</h5>
   		<hr>
   	   	{# BUTTONS #}
   	   	{% with snippet_detail_actions=1 %}
		{% with ALIGNMENT='right' %}
   	   		{% with q1 as snippet %}
   	   		{% include "bstrap3.2.0/components/buttons.html" %}
   	   		{% endwith %}			
   	   	{% endwith %}
   	   	{% endwith %}
	
	

   	  </p>	
     {% endif %}

		
</div>  


</div>  {# ROW ENDS #}






{% endblock pagecontents %}






{% block beforefooter %}
	
	
	<div id="push"></div>
	
	
	{# Related COLLECTION - 2015-03-23: only for mykoncepts #}	
	{# TODO : here we assume there is only one collection.. but there could be many! #}
	
	{% if 0 and mykoncepts and totQuotesKoncept > 1 %}
		{% with q1 as snippet %}
		{% with thread_navigation=1 %}
			{% include "bstrap3.2.0/components/stripe_quote_navigation.html" %}
		{% endwith %}	
		{% endwith %}	
		
		<div id="push"></div>
	{% endif %}
	
	

	
	
	{# Related quotes bar #}

	{# only for mykoncepts #}
	{% if 1 and totQuotesDocument > 1 %}
	
		{% with quote_detail_page=1 %}
		{% with q1 as snippet %}
			{% include "bstrap3.2.0/components/bottom_related_quotes.html" %}
		{% endwith %}
		{% endwith %}
		<div id="push"></div>
	{% endif %}
	



	
	{# Graph #}
	
	{% if 0 %}
		{% with quote_detail_page=1 %}
			{% include "bstrap3.2.0/components/bottom_graph.html" %}
		{% endwith %}
		<div id="push"></div>
	{% endif %}
	
	
	


	
	{# Chronological bar #}

	{% if 1 %}
		{% with quote_detail_page=1 %}
			{% include "bstrap3.2.0/components/bottom_chronobar.html" %}
		{% endwith %}
		{# <div id="push"></div> #}
	{% endif %}

	
	

{% endblock beforefooter %}





{% block closingbody %}


{% if mykoncepts %}	

	{% include "bstrap3.2.0/components/js_publicprivate.html" %}

	{% include "bstrap3.2.0/components/js_pinquote.html" %}	

	{% include "bstrap3.2.0/components/js_favoritequote.html" %}
	
	{% include "bstrap3.2.0/components/js_confirmDelete.html" %}




	<script type="text/javascript" charset="utf-8">

		// March 20, 2014: add modal preview for text
	
		$("a.launchModalReader").click(function() {
	
			$("#modalKonceptTitle").text($("#konceptTitle").text());
			$("#modalKonceptFragment").text($(this).parent().prev().text());
			// ==> eg $("a.launchModalReader").first().parent().prev().text()
	
			$('#fragmentModal').modal();
		
			return false;
		});
	
	
	
		// April 9, 2014: hacking the internal anchor scrolling
		// November 17, 2015: no need on this page
	
		{% if 0 %}
		$(function(){
		  var hash = window.location.hash;
		  hash = hash.replace("#", "");
		  if (hash) {
		  	scrollToAnchor(hash);
		  } 
		});
	
	
	
		function scrollToAnchor(name) {
		  	$('html, body').animate({		
		  	        scrollTop: $('a[name="' + name + '"]').offset().top - 180
		  	    }, 2000);
		};
		{% endif %}

	
	
	</script>

	{# {% include "bstrap3.2.0/components/js_addKoncept_toQuote.html"	%} #}

	{% include "bstrap3.2.0/components/js_editQuoteTitle.html"	%}

	
	{% include "bstrap3.2.0/components/js_editQuoteSubjects.html"	%}


	{% include "bstrap3.2.0/components/js_confirmDownload.html"	%}


{% endif %}	



{% include "bstrap3.2.0/components/js_show_moretext.html"	%}



<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff6b8ef6c166b00" async="async"></script>

	
{% endblock closingbody %}




