{% extends "bstrap3.2.0/base.html" %}
{% load konceptstags %}


{% block extrahead %}
	<link href="{{ STATIC_URL }}legacy/Timeline.css/css/timeline.css" rel="stylesheet">
{% endblock extrahead %}



{% block pagecontents %}


<div class="page-header">


  <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
  
    <div class="col-md-8">
					  
    <h1 class="konceptTitle konceptcolor">	
		&laquo;{{k1.name}}&raquo;	
	</h1>
	
	</div>
	
	<div class="col-md-3 text-right" style="margin-top: 20px;">  {# hack for margin #}

		<div class="btn-group">			  
  		  <a href="?v=list" class="btn btn-small" title="List View"><span class="glyphicon glyphicon-align-justify"></span></a>
  		  <a href="?v=network" class="btn btn-small" title="Network View"><span class="glyphicon glyphicon-th"></span></a>
  		  <a href="#" class="btn btn-small active" title="History View"><span class="glyphicon glyphicon-time"></span></a>
		</div>
		<div class="btn-group">
			  {# 	      <a href="#" class="btn btn-small" title="Edit"> #}
			  {# <span class="glyphicon glyphicon-pencil"></span></a>			  		   #}
		  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		  <ul class="dropdown-menu text-left">		
		    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Label</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-lock"></span> Public/Private</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add Fragment</a></li>
	
		    <li class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-share"></span> Share</a></li>
		    <li class="divider"></li>
		    <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
	
		  </ul>
		</div>		
	
	</div>

</div>  {# end or row #}
	  
</div>   {# page header #}






<div class="row" style="margin-bottom: 50px;">
	
	

    <ul class='timeline'>
      <li class="year">2013</li>
      <li class='event offset-first'>
        Something amazing happened today, but it's a secret
      </li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
	  <li class="year">August 2012</li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
      <li class='event' href="#">
        Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
      </li>
      <li class="event">
        <a href="http://christian-fei.com" title="christian fei">
          made with &lt;3 by <img class='no-box centered' src="https://s3-eu-west-1.amazonaws.com/cf.img/var/face.svg" alt="christian fei">
        </a>
      </li>
      <li class="event">
        <a href="http://codepen.io/christian-fei/pen/BJily">
          Open source project on codepen.io
          <img class='no-box centered' src="http://davidwalsh.name/demo/codepenLogo.png" alt="">
        </a>
      </li>
      <li class='event'>
        Look, a sleepy kitten: <br/>
        <img class='no-box' src="http://ih2.redbubble.net/image.10311838.0354/flat,550x550,075,f.jpg"/>
        <a href='http://ih2.redbubble.net/image.10311838.0354/flat,550x550,075,f.jpg'>&copy;</a>
      </li>
      <li class="year">2012</li>
    <li class="event offset-first">
      <p>To infinity  ... </p>
      <img class='centered no-box' src="http://upload.wikimedia.org/wikipedia/en/7/75/Buzz-lightyear-toy-story-3-wallpaper.jpg" alt="">
      <a href='http://upload.wikimedia.org/wikipedia/en/7/75/Buzz-lightyear-toy-story-3-wallpaper.jpg'>&copy;</a>
    </li>
    <li class="event">
      <p>... and beyond!</p>
      <img class='centered no-box' src="http://brandstyle.com.br/wp-content/uploads/2012/05/Woody-7.jpg" alt="">
      <a href='http://brandstyle.com.br/wp-content/uploads/2012/05/Woody-7.jpg'>&copy;</a>
    </li> 
  </ul>






		
</div>




  <div class="row">
	  
	<div class="col-md-3">
	
		<p>Showing a network of ...</p>
  
	</div>

	<div class="col-md-8">


	</div>  

  </div>
	

{% endblock pagecontents %}