{% extends "bstrap3.2.0/registration/base.html" %}
{% load konceptstags %}

{% block content %}

  {# is there a better space to add empty space? #}
 
  
  
<div class="row-fluid" style="margin-top: 50px;">
	
	<div class="col-md-6 col-md-offset-3">
	
		<h1>Password change</h1>
		<hr >
		<p class="lead">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

		<form action="" method="post" class="form-horizontal" role="form">
			{% csrf_token %}

		
        <div class="form-group">
		  
	      {% if form.old_password.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ form.old_password.errors.as_text }}
            </div>
	        
	      {% endif %}
		  		  
            <label for="id_old_password">Old Password</label>
            <div class="">
                <input type="password" name="old_password" id="id_old_password" placeholder="Min. 8 Characters" class="form-control">
            </div>
			
		</div>


        <div class="form-group">
		  
	      {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ form.new_password1.errors.as_text }}
            </div>
	        
	      {% endif %}			
		  
            <label class="" for="id_new_password1">New Password</label>
            <div class="">
                <input type="password" name="new_password1" id="id_new_password1" placeholder="Min. 8 Characters" class="form-control">
            </div>
						
		</div>	
			



        <div class="form-group">
		  
	      {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ form.new_password2.errors.as_text }}
            </div>
	        
	      {% endif %}	
		  			
            <label class="control-label" for="id_new_password2">Confirm Password</label>
            <div class="">
                <input type="password" name="new_password2" id="id_new_password2" placeholder="Min. 8 Characters" class="form-control">
            </div>
			
		</div>	
		
		<br />
		
		<button type="submit" class="btn btn-success">Change my password</button>

			
		
		</form>

			

	</div>
	
</div>




{% endblock %}
