
{% extends "bstrap3.2.0/registration/base.html" %}
{% load konceptstags %}

{% block content %}

  {# is there a better space to add empty space? #}
 
  
  
<div class="row-fluid" style="margin-top: 50px;">
	
	<div class="col-md-6 col-md-offset-3">
	
		<h1>Registration complete!</h1>
		<hr >
		<p class="lead">An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
		
		<br />
		<p>Back to the <a href="/">home page</a></p>
		

	</div>
	
</div>




{% endblock %}
