

{% extends "bstrap3.2.0/base.html" %}
{% load konceptstags %}



{% block pagecontents %}


		{% block content %}
		
		
  
  
		<div class="row-fluid" style="margin-top: 50px;">
	
			<div class="col-md-8 col-md-offset-2">
	
	

				<h1>About this site</h1>
				
				<br /><br />

				<p class="lead">Hardly an idea or standpoint can be claimed to be completely new. Intellectual and scholarly work is always within a more or less established tradition. You start by transcribing the passages that you want to remember, then you end up criticizing and restructuring them till you realize that a new system of ideas is taking form.</p>								
							
				<p class="lead">Koncepts is the result of many years of personal and academic research into how to best index and organize your ideas in the digital age.</p>

				<p class="lead">The application was conceived while I was working as a university researcher, and had to delve through dozens of papers in order to come up with some new approach or idea. Thoroughly marking up and annotating what I read was part of that process. A quite important aspect too, cause it'd let me get back to a specific piece of knowledge whenever I needed it.</p>
	
					<p class="lead"> Doing this digitally opens up a plethora of new opportunities and challenges. Collaboration, copyright, open access, text mining, semantic technologies. How can we get computers to help us make sense of human culture and be more inventive in a sustainable way?</p>
																				

				<p class="lead">Koncepts was created to explore these scenarios and help people carry out better research. Why don't you <a href="{% url auth_login %}">join in and try it for yourself?</a></p>												
				
				<br /><br />
				
				{# <blockquote ><a target="_blank" href="http://www.michelepasin.org" class="text-muted">Michele Pasin</a></blockquote> #}
				{#  #}
				{# <br /><br /> #}
	
			</div>

	
	    </div>
  
  

		
		
		
		
		
		{% endblock %}
		


{% endblock pagecontents %}




