{% extends "bstrap3.2.0/verybase.html" %}
{% load konceptstags %}


{# NOTE: the template is a stripped down version of koncept_new.html, in particular the form handling sections - just removed some top divs #}






	{% block contents %}
	
	
  <div class="row" style="margin-top: 0px;">  {# dirty hack to remove some white space #}



	  {% if fragment %}

	    <div class="page-header">
		  	  <h2 class="alert alert-success">Success! 
		  	  </h2>
	    </div>

		<div>
			<p class="lead">
				The {{SNIPPET_LABEL}} has been added
			</p>
			
			<i>{{fragment.title}}</i>
			<br />

			<br />

			<!-- <input type="submit" value="Close this window" class="submit_button" onClick="javascript:self.close();return false;"/> -->

			<script language="javascript"> 
			
				setTimeout("self.close();",1000) 

			</script>

			<p>This window will close itself in a second..</p>

		</div>

	  {% else %}


		<span style="margin-top: 10px;">&nbsp;</span>
		
		{% include "bstrap3.2.0/components/newKonceptForm.html" %}



	
     {% endif %}

	

  </div> 
  {# end of row #}



	
	
	
	{% endblock contents %}
	
	
	
	
	
	{% block footer %}
		<div id="push"></div>
	    <div id="footer">
		
			{# {% include "bstrap3.2.0/components/footer.html" %} #}
		
	    </div>
		
	{% endblock footer %}





	{% block global_js %}


   	 <!-- jQuery Version 1.11.0 -->
   	 <script src="{{ STATIC_URL }}libs/agency/js/jquery-1.11.0.js"></script>

   	 <!-- Bootstrap Core JavaScript -->
   	 <script src="{{ STATIC_URL }}libs/agency/js/bootstrap.min.js"></script>
	 

	  <script src="{{ STATIC_URL }}libs/autocomplete/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript" ></script>

	    <link href="{{ STATIC_URL }}libs/select2-3.4.5/select2.css" rel="stylesheet"/>
	    <script src="{{ STATIC_URL }}libs/select2-3.4.5/select2.js"></script>

			<script src="{{ STATIC_URL }}libs/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
	
	    <!-- bootbox code -->
	    <script src="{{ STATIC_URL }}libs/bootbox-3.3.0/bootbox.min.js"></script>
		
		<script src="{{ STATIC_URL }}libs/tooltipster/js/jquery.tooltipster.min.js"></script>
		
		{% include "bstrap3.2.0/components/js_autocomplete.html" %}
		
		{% if 0 %} {# DISABLED AS IT DIDNT WORK PROPERLY #}
			<script type="text/javascript">
		
				// default tooltips via tooltipster  
	
				$('.jstooltip').tooltipster({
				   		 	theme: 'tooltipster-default'
				});
		
		
			</script>
		{% endif %}	
			
	{% endblock global_js %}
	
	
	
	
