

{# August 26, 2014: slideDown only the snippets related to a specific topic  #}



<script>


// this is used only on koncept_detail page [September 14, 2014]

// 2014-12-28: disabled

$( "input[type=radio].optionsRadiosDoc").on( "click",function() {
  	  
		// always activate the quotes tab [tab1]
		$('.nav-tabs a[href="#tab1"]').tab('show');
	  
	  var topicId = $(this).val();
		  // alert( "Handler for .click() called. " +topicId  );
	
	  if (topicId == 'all') {
	  		$( "div.snippetdiv" ).each(function( i ) {
	  	        $(this).parent().parent().slideDown( "slow");
	  		 });
	  }	 
	  	 else  	
	  {

    	    $( "div.snippetdiv" ).each(function( i ) {
    	      if ( $(this).hasClass(topicId)) {
    	        $(this).parent().parent().slideDown( "slow");
    	      } else {
    	        $(this).parent().parent().slideUp( "slow");
    	      }
    	    });
		
	  }

});





$("a.doc_list_click").click(function() {
	
	$("#selection_info").hide();
	
	if ($(this).hasClass("topicHighlighted")) {
		$(this).removeClass("topicHighlighted");
		
	} else {
		$("a.doc_list_click").removeClass("topicHighlighted");
		$(this).addClass("topicHighlighted");
	}
	
	var temp = $("a.doc_list_click.topicHighlighted");
	
	if (temp.length > 0) {
		
		topicId = temp.attr('id');
	    $( "div.snippetdiv" ).each(function( i ) {
	      if ( $(this).hasClass(topicId)) {
	        $(this).parent().parent().slideDown( "slow");
	      } else {
	        $(this).parent().parent().slideUp( "slow");
	      }
	    });
		
		// show the extra info
		// remove on August 30, 2014
		// var t = temp.next().next().(".kon_list_badge").html();
		var t = $("#"+topicId+"_badgeinfo").html();
		$("#selection_info").html(t);
		$("#selection_info").show();
		
		
		//scroll to the top 
		
	  	$('html, body').animate({		
	  	        scrollTop: $('#konceptpage_snippets').offset().top - 120
	  	    }, 1000);
		
		
	} else {
		
		$( "div.snippetdiv" ).each(function( i ) {
	        $(this).parent().parent().slideDown( "slow");
		 });
		
	}
	
	return false;
});


</script>